* {
    box-sizing: border-box;
}

.clearFixAfter::after {
    content: "";
    display: block;
    clear: both;
}

body, html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 12pt;
    height: 100%;
    margin: 0;
}

.backgroundImage {
    background-image: url("../images/bgGrayscale.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

header {
    border-bottom: 3px solid #cccccc;
    overflow: auto;
    background: #ffffff;
}

#headerBox {
    width: 960px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    color: #ffffff;
    background: #4aaaa5;
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    margin: 0;
    float: left; 
}

h2 {
    color: #4aaaa5;
    background: #ffffff;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 15px 15px 0px;
    margin: 0;
}

nav {
    position: relative;
    top: 30px;
    float: right;
}

li {
    list-style-type: none;
    display: inline-block;
}

.link {
    padding: 10px;
    font-weight: 700;
}

.link:hover {
    background: #DDDDDD;
    color: #4aaaa5;
    border-radius: 25px;
}

ul:hover > li {
    color: #DDDDDD;
}

a {
    text-decoration: none;
    color: inherit; /* #777777 from body */
}

main {
    background: #ffffff;
    position: relative;
    top: 40px;
    width: 960px;
    margin: 0 auto;
    padding: 30px;
    
    border: 3px solid #DDDDDD;
    border-radius: 25px;
    margin-bottom: 100px;
    overflow: auto;
}

img {
    width: 300px;
    height: 200px;
}

#aboutMeIMG {
    float: left;
    width: 300px;
    height: 360px;
    margin: 20px 30px 10px 0px;
}

.portfolioIMG {
    margin: 20px 40px 20px 0px;
    position: relative;
    float: left;
}

.imgOverlay {
    position: absolute;
    bottom: 15px;
    color: #ffffff;
    background: #4aaaa5;
    width: 100%;
    text-align: center;
    padding: 15px;
}

p {
    line-height: 150%;
    margin-top: 22px;
}

label {
    line-height: 2.0;
}

input {
    width: 100%;
    height: 30px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
}

::placeholder {
    color: #CCCCCC;
}

#submitBTN {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12pt;
    color: #ffffff;
    background: #4aaaa5;
    border: none;
    width: 120px;
    height: 40px;
}

footer {
    border-top: 8px solid #4aaaa5;
    background: #666666;
    height: 60px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

#copyRight {
    position: relative;
    top: 15px;
    color: #cccccc;
}